@charset "UTF-8";
/* CSS Document */

#imagenIndex{
	width:355px;
	height:355px;
	margin:auto;
	} 

#imagenesMomentos{
	width:355px;
	height:427px;
	margin:auto;
	} 

#imagenesPaseos{
	width:355px;
	height:427px;
	margin:auto;
	} 

#imagenesCollage{
	width:355px;
	height:427px;
	margin:auto;
	} 	
	
#imagenesComic{
	width:355px;
	height:427px;
	margin:auto;
	} 	
	
#imagenesTarjetas{
	width:355px;
	height:427px;
	margin:auto;
	} 
	
#imagenesSustin{
	width:355px;
	height:427px;
	margin:auto;
	} 
	
#imagenesFiestas{
	width:355px;
	height:427px;
	margin:auto;
	} 